.shopping-box {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #f5f5f5;
}

.shopping {
    width: 25%;
    border-bottom: 1px solid #f5f5f5;
    background-color: #fff;
    color: #999;
    font-size: 12px;
}

.shopping-logo {
    padding: 20px;
    float: left;
    text-align: center;
}

.shopping-logo-img {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.shopping-content {
    padding: 20px;
}

.shopping-title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 6px;
}

.shopping-delivery {
    margin-top: 6px;
}
